*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 59, 198);
}

.container{
    width: 380px;
    background-color: aqua;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.container h2{
    margin-bottom: 20px;
    color: #222;
}

.inputBox{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.container input{
    width: 100%;
    height: 42px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
}

.btn,
#download-id{
    height: 36px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    background-color: #ddd;
    transition: 0.3s;
}

.btn:hover,
#download-id:hover{
    background-color: #333;
    color: #fff;
}

.Qr-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#qr-code{
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    display: none;
}
